@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    
    
        font-family: "Fira Sans", serif;
        font-weight: 700;
        font-style: normal;
        background: rgb(245, 245, 245);
        
       

      margin-left: 160px;
      margin-right: 160px;
      
      
     
      
     
}



/* nav section start  */
   

    .nav-class{

        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 24px;
        height: 100px;  
   

    }

    .head1{     
        font-weight: 700;
        font-size: 32px;   
      
    }

    .btn1{
    
        border: 1px solid rgb(0, 106, 80);
        border-radius: 8px;
        color: rgb(0, 106, 80);
        font-family: "Fira Sans", serif;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 30px 15px 30px;

    }


    .btn1:hover{
        
        border: 1px solid rgb(0, 106, 80);
        background: rgb(0, 106, 80);
        border-radius: 8px;
        color: white;
       
    }

    /* nav section end  */



/* Hero section start */

    .hero{
        
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 100px 80px 100px;
        gap: 64px;
        border-radius: 24px;
        background: #C6E4D6
        
    }

     .para1{
       color:  #6A7972;
       font-size: 24px;
       margin-bottom: 16px;
    }
    .head2{
        font-size: 56px;
        margin-top: 0;
        margin-bottom: 24px;
    }

    .text-div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24;
        padding: 0px;
    }

     .btn2{
        background-color: #2c564c;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 600;
        padding: 17px 34px 17px 34px;
        border-radius: 8px;


    }

    .btn2:hover{
        background-color: #c20e0e;
        color: #FFFFFF;
    }

    .img-div{
        
        margin-top: 80px;
        margin-bottom: 80px;
        
    }


/* Hero section end */


    /* piller section start  */


    .pillersofbd{
        margin-top: 80px;
    }

    

    .pillers{
        
        margin-top: 32px;
        display: flex;
        justify-content: space-evenly;
        gap: 24px;
        
        
        
    }

    .card1{
        position: static;
        width: 302px;
        height: 270px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding-left: 25px;
        padding-top: 25px;
    }
    .card2{
        position: static;
        width: 302px;
        height: 270px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding-left: 25px;
        padding-top: 25px;
        
    }
    .card3{
        position: static;
        width: 302px;
        height: 270px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding-left: 25px;
        padding-top: 25px;
    }
    .card4{
        position: static;
        width: 302px;
        height: 270px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        padding-left: 25px;
        padding-top: 25px;
    }

    .pillerspara1{
        font-size: 20px;
        
    }

    .pillerspara2{
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 24px;
        padding-right: 24px;
        color: rgba(14, 14, 14, 0.7);
    }

/* piller section end  */




    /* vision section start  */
.vision{
    margin-top: 80px;
    margin-bottom: 32px;

}

.vision1 > h1{
    font-size: 40px;
}

.vision1 > p{
    font-size: 16px;
    font-weight: 400;
    text-wrap: wrap;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
}

.visioncard{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.vcard1{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    
}

.vcard2{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);   
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    
}

.vcard3{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;

    
}

.visionpara1{
    font-size: 20px;
}

.visionpara2{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    
}

.vbtn1{
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: #FFFFFF;
    border-color: #5490F5;
    margin-top: 15px;
    
    
    
}

.vbtn1:hover{
    background-color: #c20e0e;
    color: #FFFFFF;
}
.vbtn2{
    background: rgb(9, 161, 92);
    padding: 11px 20px 11px 20px;
    border-color: #09A15C;
    border-radius: 8px ;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 16px;
   
    
}

.vbtn2:hover{
    background-color: #c20e0e;
    color: #FFFFFF;
}

.vbtn3{
    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: #FFFFFF;
    border-color: #FFC239;
    margin-top: 20px;
    
    
}

.vbtn3:hover{
    background-color: #c20e0e;
    color: #FFFFFF;
}

 /* vision section end  */



 /* Govt Section start */

 .headofstatecard{
    
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;

padding: 48px 24px 48px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);



}
.quotebg{
    position: relative;
    margin-top: -35px;
    margin-left: 0;
    
}



.govtp1{
    position: absolute;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    padding-right: 150px;
   
    margin-top: 0;
    margin-left: 0;

    
    /* top: ;
    left: ;
     */
            
    
    
}
.govtp2{
    margin-top: 60px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    
}

.govtp3{
    margin-top: -15px;
    color: rgba(14, 14, 14, 0.6);
}



 /* Govt Section end */








/* opinion section start  */


.opinion{
    margin-top: 80px;
}
.opinionh1{
    font-size: 40px;
    margin-bottom:24px;
}

.opinioncard{
    
    border-radius: 16px;
    background: rgb(255, 255, 255);
    
    padding: 20px;
}

.quesopiniondiv{
    border: 2px solid rgba(14, 14, 14, .3);
    
   
    
}




.ques{
    display: flex;
    justify-content: space-between;
    
    background: rgb(198, 228, 214);
    padding-bottom: -10px;
    border: 2px ;
    

}

.ques > p {
    margin-left: 20px;
    margin-right: 20px;
    
}

.opinioncard1{
    display: flex;
    justify-content: space-between;
    position: relative;

}

.opinionpara1{
    padding-left: 20px;
}

.vl {
    
    border-left: 2px solid rgba(14, 14, 14, .3);;
  height: 68px;
  position: absolute;
  left: 50%;
  margin-left: 350px;
  /* margin-top: 80px; */
  /* top: 10; */
  margin-bottom: -24px;
  bottom: 23px;
  /* right: 20px; */

  }

  .optionbtn{
    
    margin-right: 40px;
    background: rgb(198, 228, 214);
    border-radius: 4px;
    width: 140px;
height: 44px;
font-weight: 500;
font-size: 16px;
margin-right: 15px;

    


  }

 .optionbtn:hover{
    
        background-color: #c20e0e;
        color: #FFFFFF;
    
 }



/* opinion section end  */

/* Recent Section */
 .satellitecard{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
    background: rgb(255, 255, 255);
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
 }

 .satellitecimg{
    border-radius: 24px;
    
 }

 .aljazeera-img{
    display: block;
 }

 .fontcolorSatelite{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
 }

 
/* Recent Section end */

/* donate section */

.donatetoday{
    text-align: center;
}


.takacard{
    display:flex;
    
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
    gap: 32px;
    

   
    
}



.tkcarddesign{
    background: white;
    border-radius: 16px;
    width: 300px;
    padding: 40px;
   
}

.tkcarddesign1{
    background: white;
    border-radius: 16px;
    padding: 40px;
    width: 300px;
    background-color:rgb(198, 228, 214) ;
}



.inputandbutton{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.otheramount{
    display: block;
    height: 64px;
    width: 90%;
    padding-left: 100px;
    border: 0;
   
    
}


.btn4{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    margin-top: 32px;
   
    


}

.btn4:hover{
    background-color: #c20e0e;
        color: #FFFFFF;
}

/* donate section end */


/* Newsletter Section  start*/


.subscribenewsletter1{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}



.subscribeinputbutton{
    display: flex;
    

    
}


.mailinput{
    padding-left: 40px;
padding-right: 40px;
width: 600px;
height: 54px;
border-radius: 16px 0 0 16px;
border: 0;
}

.subsribebtn{
    background: rgb(0, 106, 80);
    width: 150px;
height: 56px;
border-radius: 0 16px 16px 0;
border: 0;
color: white;



}

.subsribebtn:hover{
    background-color: #c20e0e;
        color: #FFFFFF;
}






/* Newsletter Section  end*/

footer{
    text-align: center;
    /* background: rgb(255, 255, 255); */
    margin-top: 50px;
    margin-bottom: 50px;
    

}


/* Footer start */

.social-icons{
display: flex;
gap: 23px;
justify-content: center;
align-items: center;


}

.hrfooter{
    margin-top: 31px;
    margin-bottom: 31px;
}




